# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = SpyderTBT.settings

[deploy]
#url = http://localhost:6800/
project = SpyderTBT

[redis]
host = 122.233.91.182
port = 6380
password = N3o5ACuJQ4VqLrNU
db = 5

[mysql]
host =dm+dmPython://standard_user:3dofB4sMPrfOZ4pK@122.233.91.182:5237/STANDARD_USER?charset=utf8mb4